.root {
    padding: 4rem;
    margin-top: 5rem;
    background-color: #ccc;
    box-shadow: .3rem .5rem3rem #000;
    border-radius: 1rem;
}

.heading {
    color: brown;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.stake_body {
    margin-top: 1.5rem;
}