.root {
  padding: 1.5rem;
  margin-top: 5rem;
  background-color: #ccc;
  box-shadow: 0.3rem 0.5rem 10rem rgb(172, 169, 169);
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.heading {
  color: brown;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.stake_body {
  margin-top: 1.5rem;
}

.form {
  margin-top: 1.5rem;
}

.input {
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: none;
}

.card_container {
  display: flex;
}

.check_stake {
  padding: 0.8rem 1.2rem;
  border: 0;
  background-color: rgb(8, 153, 107);
  border-radius: 0.3rem;
  margin-left: 1rem;
  width: 6rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.btn_disabled {
  background-color: rgb(168, 164, 164);
  cursor: not-allowed;
}
