.root {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: .3rem;
    /* border: 1px solid burlywood; */
    width: 100%;
    margin-right: 2rem;
}

.card_title {
    display: block;
    white-space: nowrap;
    margin-bottom: 1.2rem;
    color: #999;   
}

.card_value {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: brown;
}